$grid-float-breakpoint:   992px;

@import                   "bootstrap-sprockets";
@import                   "bootstrap";

@import                   url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800,400italic);
$mainfont:                "Open Sans", sans-serif;

///

$color:                   #123456;


body, input, textarea     { font-family: $mainfont; }

