<% bgtypes = { "alert"=>"bg-warning", "notice"=>"bg-info", "error"=>"bg-danger", "success"=>"bg-success" } %>
<% flash.each do |type, msg| %>

  <%= link_to "javascript:;", class: "flash-message #{type} #{bgtypes[type]} text-center no-outline fade in", role: type do %>
    <p class="lead"><%= msg.html_safe %></p>
  <% end %>

<% end %>
